

.items-center{
    display: flex;
    align-items: center;    
    width: 100%;
}

.search-icon-container{
    background-color: #f0f0f0;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 5px;  
    background-color: #FEBD6A
}

input{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
   
    font-size: 1rem;
    width: 100%;
    padding: .9rem;
    box-sizing: border-box; 
    margin: 0 ;

}