

.items-center{
    display: flex;
    align-items: center;    
 
    width: 100%;
}

.search-icon-container{
    background-color: #f0f0f0;
    padding: 0.1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 5px;   
}

input{
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    padding: .9rem;
    box-sizing: border-box; 
    margin: 0 ;

}