

.navbar{
    width: 100%;
    height: 60px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
    position: relative;
}   
.amazon-header-right-section{
    float: right;
    display: flex;
    align-items: center;
    border: 2px solid red;
    
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.cart-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white
    font-weight: 500;
}
.cart-link div{
    margin-left: 10px;
    color: white;
}   
.orders-link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}   
.cart-icon{
    width:35px;
    height:25px; 
    background: black;
   
    margin-left: 5px;
}

.cart-quantity{
    position: relative;
    top: 37px;
    left: 185px;
    /* background-color:transparent */
    color: white;
    z-index: 1;
    background-color: green;
  
    font-size:1.2em;
}

