
.amazon-header-right-section{
    display: flex;
    align-items: center;
    border: 2px solid red;
    
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.cart-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.cart-icon{
    width:35px;
    height:25px; 
    background: black;
   
    margin-left: 5px;
}

.cart-quantity{
    position: absolute ;
    top: 37px;
    left: 185px;
    /* background-color:transparent */
    color: white;
    z-index: 1;
  
    font-size:1.2em;
}

