.navbar-list{
    display: flex;
    gap: 2rem;  

}
.navbar-list li{
    list-style: none;
}
.navbar-list li a{
    text-decoration: none;
 
    font-weight: 500;
}
.navbar-list li a:hover{
    color: #007BFF;
}       