

.navbar{
    width: 100%;
    height: 60px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
    position: relative;
}   
.amazon-header-right-section{
    float: right;
    display: flex;
    align-items: center;

    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.cart-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    font-weight: 500;
    font-size: 1.2rem;
    height: 40px;
    padding: 5px;
    border:  1px solid  transparent;
    


}

.cart-link:hover{
    border: 1px solid white;

}   
 
.cart-link div{
    color: white;
  
}   
.orders-link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    border:1px solid transparent;
}  
.orders-link:hover {
    border:1px solid  white;
   
} 
.cart-icon{
    width:45px;
    height:45px; 
    background: black;
    position: relative;

}

.cart-quantity{
    position: absolute;
    top: 5px;
    right: 80px;
    color: white;
    font-size:1.2em;
}

